<launch>

  <!-- Start rviz with a predefined config file -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_tf_frames)/turtle_tf_frames_demo_extended.rviz"/>

  <!-- Start the tf demo from the package turtle_tf_frames -->
  <node pkg="turtle_tf_frames" type="turtle_tf_frames_extended" name="turtle_tf_frames_extended" args="/turtle1" />

  <!-- Start turtlesim and teleopkey -->
  <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" />
  <node name="turtle_teleop_key" pkg="turtlesim" type="turtle_teleop_key" />


	<param name="robot_description" textfile="$(find turtle_tf_frames)/urdf/turtle.urdf" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
